.photo-modal--dialog {
  max-width: 100vw;
  position: relative;
}
.photo-modal--modalBody {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo-modal--photo {
  max-width: 75vw;
  max-height: 80vh;
}
.photo-modal--closeButton {
  display: flex;
  position: absolute;
  right: 10px;
  top: 10px;
}
