.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  top: 0;
}

.header--menu-button {
  top: 39px;
  right: 16px;
  position: absolute;
}
.header--no-top{
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
}
